<div id="carouselExample" class="carousel slide mt-1">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{images[index]}}" class="d-block w-100" style="border-radius: 10px" width="100%" height="400rem" alt="{{index}}">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="prev()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" (click)="next()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
