<nav>
  <ul class="menu">
    <h3>Product</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" [routerLink]="'/products'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-list-ul"></i> See All
      </a>
    </li>
    <li>
      <a class="boton-menu boton-categoria" [routerLink]="'/products/add'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
    <br>
    <h3>Category</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" [routerLink]="'/categories'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-list-ul"></i> See All
      </a>
    </li>
    <li>
      <a class="boton-menu boton-categoria" [routerLink]="'/categories/add'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
    <br>
    <h3>User</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" [routerLink]="'/users'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-list-ul"></i> See All
      </a>
    </li>
    <li>
      <a class="boton-menu boton-categoria" [routerLink]="'/users/add'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
  </ul>
</nav>
