<nav>
  <ul class="menu">
    <h3>Product</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" href="./agregar-productos.html">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
    <li>
      <button id="[\s\S]+" class="boton-menu boton-categoria active">
        <i class="bi bi-hand-index-thumb"></i> See All
      </button>
    </li>
    <br>
    <!--<li>
      <a class="boton-menu boton-carrito" href="./editar-productos.html">
        <i class="bi bi-pencil-fill"></i> Editar Producto
      </a>
    </li>-->
    <h3>Category</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" href="./agregar-productos.html">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
    <li>
      <button id="[\s\S]+" class="boton-menu boton-categoria">
        <i class="bi bi-hand-index-thumb"></i> See All
      </button>
    </li>
    <br>
    <h3>User</h3>
    <hr>
    <li>
      <a class="boton-menu boton-carrito" href="./agregar-productos.html">
        <i class="bi bi-plus-square"></i> Add
      </a>
    </li>
    <li>
      <button id="[\s\S]+" class="boton-menu boton-categoria">
        <i class="bi bi-hand-index-thumb"></i> See All
      </button>
    </li>
    <br>

    <!--<li>
      <button id="tecnologia" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Tecnología
      </button>
    </li>
    <li>
      <button id="arte" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Arte
      </button>
    </li>
    <li>
      <button id="mascota" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Mascotas
      </button>
    </li>
    <li>
      <a class="boton-menu boton-carrito" href="./acerca.html">
        <i class="bi bi-file-person"></i> Acerca de
      </a>
    </li>-->
  </ul>
</nav>
