<form id="Login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="left">
    <div>
      <p>Hola, Bienvenido</p>
      <h4>Panel Administrativo</h4>
    </div>
  </div>

  <div class="right">
    <div>

      <h1>Login</h1>

      <input type="text" name="Username" id="user" placeholder="Email" formControlName="email"/>
      @if (loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)) {
        @if (loginForm.controls.email.hasError('required')) {
          <small id="error-name" class="text-error">Email is required</small>
        }
      }

      <input type="password" name="Password" id="pass" placeholder="Password" formControlName="password"/>
      @if (loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)) {
        @if (loginForm.controls.password.hasError('required')) {
          <small id="error-name" class="text-error">Password is required</small>
        }
      }

      <button style="margin-top: 0.5rem" type="submit" [disabled]="loginForm.invalid" >Login</button>
    </div>
  </div>
</form>
