<div class="container-formulario">
  <h2 class="titulo-principal">Agregar Producto</h2>

  <div class="formulario-producto">
    <form id="form-producto">
      <div class="form-group">
        <label for="nombre">Nombre Producto</label>
        <input type="text" id="nombre" required>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" rows="3" required></textarea>
      </div>

      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" id="precio" min="0" step="0.01" required>
      </div>

      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" required>
          <option value="" disabled selected>Seleccione Categoria</option>
          <option value="1" name="tecnologia">Tecnologia</option>
          <option value="2" name="arte">Arte</option>
          <option value="3" name="mascota">Mascota</option>
        </select>
      </div>

      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" id="stock" min="1" required>
      </div>

      <div class="form-group">
        <label for="imagen">Imágenes del Producto</label>
        <input type="file" id="imagen" multiple required>
        <div id="preview-imagen"></div>
      </div>

      <div class="form-buttons">
        <button type="submit" id="btn-guardar">Guardar</button>
        <button type="button" id="btn-cancelar" >Cancelar</button>
      </div>
    </form>
  </div>
</div>
