<div class="card" style="width: 18rem;">
  <img src="{{product.images[0]}}" height="190rem" class="card-img-top" alt="Imagen de {{product.name}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name | titlecase }}</h5>
    <p class="card-text">{{ product.price | currency }}</p>
    <div class="detalles-eliminar">
      <div class="icon-tooltip-wrapper">
        <button class="boton-table fs-5 text-info" (click)="showModal()">
          <i class="bi bi-eye"></i>
        </button>
        <span class="tooltip-text">Ver detalles</span>
        <app-details-modal [product]="product" #myModal></app-details-modal>
      </div>

      <div class="icon-tooltip-wrapper">
        <button class="boton-table">
          <i class="bi bi-pencil-square fs-5"></i>
        </button>
        <span class="tooltip-text">Editar</span>
      </div>

      <div class="icon-tooltip-wrapper">
        <button class="boton-table" (click)="delete(product.id!)">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
        <span class="tooltip-text">Eliminar</span>
      </div>

    </div>
  </div>
</div>
